:host(.optionActive) {
  background: #2b2b2b;
}
:host(:not(.optionActive):focus) {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background: rgba(255, 255, 255, .01);
}
:host(.optionActive:focus) {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

:host {
  color: #C2C2C2;
}
