:host(:focus) {
  margin-top: 2px;
}
:host {
  transition: .1s;
}
c-button {
  /* Bitte nicht ändern */
  transform: rotate(135deg);
  margin-left: 2px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-size: cover;
}

c-selector {
  margin-left: 2.4px;
}
